{% if settings.enable_wide_layout %}
  {%- assign max_width = 1280 -%}
{% else %}
  {%- assign max_width = 970 -%}
{% endif %}
{%- assign slide_width = max_width -%}

{% if section.blocks.size > 0 %}
  <div class="index-section">
    <div class="flexslider" id="flexslider--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow-section" data-transition="{{ section.settings.slider_home_transition }}" data-autoplay="{{ section.settings.slider_home_auto }}" data-speed="{{ section.settings.slider_home_rate }}" data-show-dots="{{ section.settings.slider_home_show_dots }}">
      <ul class="slides supports-js">
        {% for block in section.blocks %}
          {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

          {% if block.settings.image.width < max_width %}
            {%- assign slide_width = block.settings.image.width -%}
          {% endif %}

          {% if block.settings.image != blank %}
            <li id="slide--{{ block.id }}" data-flexslider-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
              {% if block.settings.link != blank %}<a href="{{ block.settings.link }}" class="slide-link slide-link--{{ block.id }}">{% endif %}
                <img class="lazyload{% unless forloop.first == true %} lazypreload{% endunless %}"
                     src="{{ block.settings.image | img_url: '300x300' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                     data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                     data-sizes="auto"
                     style="{% if slide_width <= max_width %}{%- assign min_width = slide_width | times: 1.0 | divided_by: max_width -%}{%- assign min_width = min_width | times: 100 -%}min-width: {{ min_width }}%; {% endif %}"
                     alt="{{ block.settings.image.alt | escape }}">
              {% if block.settings.link != blank %}</a>{% endif %}
            </li>
          {% else %}
            <li id="slide--{{ block.id }}" data-flexslider-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
              <span class="slide-link slide-link--{{ block.id }}">
                {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <noscript>
        {{ section.blocks[0].settings.image | img_url: '1280x', scale: 2 | img_tag: block.settings.image.alt }}
      </noscript>
    </div>
  </div>
{% endif %}



{% schema %}
{
  "name": {
    "de": "Slideshow",
    "en": "Slideshow",
    "es": "Diapositivas",
    "fr": "Diaporama",
    "it": "Presentazione",
    "ja": "スライドショー",
    "pt-BR": "Apresentação de slides"
  },
  "max_blocks": 6,
  "settings": [
    {
      "type": "checkbox",
      "id": "slider_home_auto",
      "label": {
        "de": "Auto-rotieren der Slides",
        "en": "Auto-rotate slides",
        "es": "Rotar las diapositivas automáticamente",
        "fr": "Rotation automatique des diapositives",
        "it": "Ruota slide automaticamente",
        "ja": "スライドの自動切り替え",
        "pt-BR": "Girar os slides automaticamente"
      }
    },
    {
      "type": "checkbox",
      "id": "slider_home_show_dots",
      "label": {
        "de": "Punkte für Schiebereglereinstellung anzeigen",
        "en": "Show slide indicator dots",
        "es": "Mostrar puntos de indicadores de diapositiva",
        "fr": "Afficher les points de l'indicateur de diapositive",
        "it": "Mostra punti indicatori di slide",
        "ja": "スライドのインジケータードットを表示する",
        "pt-BR": "Exibir os pontos indicadores do slide"
      }
    },
    {
      "type": "select",
      "id": "slider_home_rate",
      "label": {
        "de": "Slides überall ändern",
        "en": "Change slides every",
        "es": "Cambiar diapositivas cada",
        "fr": "Changer de diapositive toutes les",
        "it": "Cambia slide ogni",
        "ja": "スライドを変更する間隔",
        "pt-BR": "Mudar os slides a cada"
      },
      "options": [
        {
          "value": "3000",
          "label": {
            "de": "3 Sekunden",
            "en": "3 seconds",
            "es": "3 segundos",
            "fr": "3 secondes",
            "it": "3 secondi",
            "ja": "3秒",
            "pt-BR": "3 segundos"
          }
        },
        {
          "value": "4000",
          "label": {
            "de": "4 Sekunden",
            "en": "4 seconds",
            "es": "4 segundos",
            "fr": "4 secondes",
            "it": "4 secondi",
            "ja": "4秒",
            "pt-BR": "4 segundos"
          }
        },
        {
          "value": "5000",
          "label": {
            "de": "5 Sekunden",
            "en": "5 seconds",
            "es": "5 segundos",
            "fr": "5 secondes",
            "it": "5 secondi",
            "ja": "5秒",
            "pt-BR": "5 segundos"
          }
        },
        {
          "value": "7000",
          "label": {
            "de": "7 Sekunden",
            "en": "7 seconds",
            "es": "7 segundos",
            "fr": "7 secondes",
            "it": "7 secondi",
            "ja": "7秒",
            "pt-BR": "7 segundos"
          }
        },
        {
          "value": "10000",
          "label": {
            "de": "10 Sekunden",
            "en": "10 seconds",
            "es": "10 segundos",
            "fr": "10 secondes",
            "it": "10 secondi",
            "ja": "10秒",
            "pt-BR": "10 segundos"
          }
        },
        {
          "value": "15000",
          "label": {
            "de": "15 Sekunden",
            "en": "15 seconds",
            "es": "15 segundos",
            "fr": "15 secondes",
            "it": "15 secondi",
            "ja": "15秒",
            "pt-BR": "15 segundos"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "slider_home_transition",
      "label": {
        "de": "Übergangseffekt",
        "en": "Transition effect",
        "es": "Efecto de transición",
        "fr": "Effets de transition",
        "it": "Effetto di transizione",
        "ja": "トランジション効果",
        "pt-BR": "Efeito de transição"
      },
      "options": [
        {
          "value": "fade",
          "label": {
            "de": "Ausblenden",
            "en": "Fade",
            "es": "Desvanecer",
            "fr": "Fondu",
            "it": "Dissolvenza",
            "ja": "フェード",
            "pt-BR": "Apagamento"
          }
        },
        {
          "value": "slide",
          "label": {
            "de": "Folie",
            "en": "Slide",
            "es": "Diapositiva",
            "fr": "Diapositive",
            "it": "Slide",
            "ja": "スライド",
            "pt-BR": "Slide"
          }
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "de": "Folie",
        "en": "Slide",
        "es": "Diapositiva",
        "fr": "Diapositive",
        "it": "Slide",
        "ja": "スライド",
        "pt-BR": "Slide"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fr": "Image",
            "it": "Immagine",
            "ja": "画像",
            "pt-BR": "Imagem"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "de": "Link URL",
            "en": "Link URL",
            "es": "URL del enlace",
            "fr": "Lien URL",
            "it": "Link URL",
            "ja": "リンクURL",
            "pt-BR": "URL do link"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Slideshow",
        "en": "Slideshow",
        "es": "Diapositivas",
        "fr": "Diaporama",
        "it": "Presentazione",
        "ja": "スライドショー",
        "pt-BR": "Apresentação de slides"
      },
      "category": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "pt-BR": "Imagem"
      },
      "settings": {
        "slider_home_auto": true,
        "slider_home_show_dots": false,
        "slider_home_rate": "7000",
        "slider_home_transition": "slide"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
